.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.alert {
    width: 500px;
    text-align: center;
    margin: 0px auto;
    background-color: #ff0000bd;
    color: white;
}

/* NAVIGATION */

.navbar .nav-link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.dropdown {
    width: 100%;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.774);
    color: #000;
    border-radius: 5px;
    transition: 1s;
}

.dropdown:hover .btn{
    background-color: rgb(34, 111, 84);
    color: #fff;
    transition: 0.3s;
    border: 1px solid rgb(255, 255, 255);
}



.dropdown-menu a:active {
    background-color: #226F54;
    color: black;
}

.dropdown-menu a:hover {
    background-color: rgba(34, 111, 84, 0.144);
    color: black;
}

.dropdown-menu a{
    /* background-color: gray; */
    color: black;
}

.show .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.show {
    width: 100%;
    padding: 0;
}

.profile-btn {
    margin-right: 100px;
}